@model IEnumerable<firstApp.Models.Student>

@{
    ViewData["Title"] = "Index";
}

<h1>Create User</h1>

<p>
    <a asp-action="Create">Create New User</a>
</p>
@{
    if (TempData["inserted_success"]!=null)
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>succes!</strong> @TempData["inserted_success"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
     if (TempData["updated_success"]!=null)
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>succes!</strong> @TempData["updated_success"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    if (TempData["deleted_success"] != null)
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>succes!</strong> @TempData["deleted_success"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
}
<table class="table table-dark table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Standard)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Standard)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-primary btn-sm" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" class="btn btn-success btn-sm" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" class="btn btn-danger btn-sm" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
